<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% if title %}
    <title>CODENERDS - {{ title }}</title>
  {% else %}
    <title>CODENERDS</title>
  {% endif %}
  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Custom styles for this template-->
  
  <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">


</head>

<body id="page-top">









  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <!--div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div-->
        <div class="sidebar-brand-text mx-3"><img src="{{ url_for('static',filename='img/codenerds.jpg') }}" ></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading"><b>
        Algo & DS</b>
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <button class="nav-link collapsed btn btn-link"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <!--i class="fas fa-fw fa-cog"></i-->
          <b><span>Data Structure</span></b>
        </button>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">DS- LIST:</h6>
            <button class="collapse-item btn btn-link" onclick="changeDIV('arrays')">Arrays</button>
            <button class="collapse-item btn btn-link" onclick="changeDIV('linkedlist')">Linked-List</button>
            <button class="collapse-item btn btn-link" onclick="changeDIV('tree')">Tree</button>
            <button class="collapse-item btn btn-link" onclick="changeDIV('stack')">Stack</button>
            <button class="collapse-item btn btn-link" onclick="changeDIV('queue')">Queue</button>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <button class="nav-link collapsed btn btn-link"  data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <!--i class="fas fa-fw fa-wrench"></i-->
          <b><span>Algorithms</span></b>
        </button>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Algorithms:</h6>
            <button class="collapse-item btn btn-link" onclick="changeDIV('dp')">Dynamic Problem</button>
            <button class="collapse-item btn btn-link" onclick="changeDIV('ga')">Greedy Algorithms</button>
            <button class="collapse-item btn btn-link" onclick="changeDIV('dc')">Divide and Conquer</button>
            <button class="collapse-item btn btn-link" onclick="changeDIV('bf')">Brute Force</button>
            <button class="collapse-item btn btn-link" onclick="changeDIV('backtrack')">Backtracking</button>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        <b>Levels</b>
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <button class="nav-link btn btn-link"  onclick="changeDIV('easy')">
          <!--i class="fas fa-fw fa-folder"></i-->
          <b><span>Easy Problems</span></b>
        </button>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <button class="nav-link btn btn-link" href="charts.html" onclick="changeDIV('medium')">
          <!--i class="fas fa-fw fa-chart-area"></i-->
          <b><span>Medium Problems</span></b></button>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <button class="nav-link btn btn-link" onclick="changeDIV('hard')">
          <!--i class="fas fa-fw fa-table"></i-->
         <b> <span>Hard Problems</span></button></b>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          
            <div class=" d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border small" id="searchuser" oninput='searchUsers(this)' placeholder="Search for user,question" aria-label="Search" aria-describedby="basic-addon2">
                  <div class="dropdown-menu" id="dropdownmenu" aria-labelledby="dropdownMenuButton" style="display:none">
                  <ul class="list-group" id="usersDropdown">
                    <li class="list-group-item dropdown-item" id="none" name="none" >No result found.</li>
                  </ul>
                  </div>
                </div>
                
            </div>
          
        

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline font-weight-bold text-gray-800"> {{ user.username }} </span>
                <img class="img-profile rounded-circle" src="static/img/{{ user.profile_pic }}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <button class="dropdown-item" onclick="changeDIV('update_profile')">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400" ></i>
                  Settings
                </button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->




{% block index_content %}{% endblock %}






<div class="container-fluid" id="linkedlist" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DS-Linked-List</h6>
            </div>
            <div class="card-body" >
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in ds_ques %}
          {% if que['type']=="Linked List" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-900"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900">{{ que["score"] }}</td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
            </div>
          </div>
          </div>
        </div>



<div class="container-fluid" id="stack" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DS-Stack</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                
                  <tbody>
          <!-- Content Row -->
          {% for que in ds_ques %}
          {% if que['type']=="Stack" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>



<div class="container-fluid" id="arrays" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DS-Array</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in ds_ques %}
          {% if que['type']=="Array" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>


        <div class="container-fluid" id="queue" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DS-Queue</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in ds_ques %}
          {% if que['type']=="Queue" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>




        <div class="container-fluid" id="tree" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DS-Tree</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in ds_ques %}
          {% if que['type']=="Tree" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>





        <div class="container-fluid" id="dp" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Dynamic Programming</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in algo_ques %}
          {% if que['type']=="Dynamic programming" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>






        <div class="container-fluid" id="dc" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Divide & Conquer</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in algo_ques %}
          {% if que['type']=="Divide and Conquer" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>






        <div class="container-fluid" id="ga" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Greedy Algorithm</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in algo_ques %}
          {% if que['type']=="Greedy algorithm" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>



        <div class="container-fluid" id="backtrack" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Backtrack Algorithm</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in algo_ques %}
          {% if que['type']=="Backtrack algorithm" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>





                <div class="container-fluid" id="bf" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Brute Force Algorithm</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Level</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in algo_ques %}
          {% if que['type']=="Brute force algorithm" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["level"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>



<div class="container-fluid" id="easy" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Easy Problems</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Category</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in ds_ques %}
          {% if que['level']=="easy" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["type"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>





        <div class="container-fluid" id="medium" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Medium Problems</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Category</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->
          {% for que in ds_ques %}
          {% if que['level']=="medium" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["type"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>




        <div class="container-fluid" id="hard" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Hard Problems</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th class="bg-gray-800 text-gray-100">Problem</th>
                      <th class="bg-gray-800 text-gray-100">Category</th>
                      <th class="bg-gray-800 text-gray-100">Score</th>
                    </tr>
                  </thead>
                  <tbody>
          <!-- Content Row -->

          {% for que in ds_ques %}
          {% if que['level']=="hard" %}
                    <tr style="cursor:pointer" onclick="getQuestion( '{{ que['ques_id'] }}' )">
                      <td class="text-gray-800"> {{ que["question"] }} </td>
                      <td class="text-gray-900"> {{ que["type"] }} </td>
                      <td class="text-gray-900"> {{ que["score"] }} </td>
                    </tr>
          {% endif %}
          {%endfor%}
           <!--c0ntent row-->
           </tbody>      
          </table>
              </div>
            </div>
          </div>
        </div>



<div class="container-fluid"  id="update_profile" style="display:none">
  <div class="card shadow mb-4" >
    <form action="/updateProfile" enctype="multipart/form-data" method="POST">
    <div class="card-header py-3">
      <div class="d-flex">
      <div class="mr-auto p-2"><h6 class="m-0 font-weight-bold text-primary">Update Profile</h6></div>
      <div class="p-2"><button class="btn btn-dark float-right" type="submit" onclick="updateProfile()">Update</button></div>
    </div>
    </div>
    <div class="card-body text-gray-900">
      <ul class="list-group">
        
        <li class="list-group-item bg-gray-500 text-gray-900">
          <div class="d-flex justify-content-around">
            <div class="p-2">
              <div class="file-field">
              <div class="z-depth-1-half mb-4">
              <img src="static/img/{{ user.profile_pic }}" class="img-thumbnail img-responsive" alt="Cinque Terre" width="150" height="150" >
              </div>
              <div class="d-flex justify-content-center">
              <div class="btn btn-mdb-color btn-rounded float-left">
              <input type="file" accept="image/*" id="profile_pic" name="profile_pic">
            </div>
          </div>
          </div>


            </div>
            <br>
            <br>
            <div class="d-flex align-content-around flex-wrap">
          <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" id="">First and last name</span>
             </div>
             <input type="text" class="form-control" name="fname" value="{{ user.fname }}" required>
              <input type="text" class="form-control" name="lname" value="{{ user.lname }}" required>
          </div>
          <div class="input-group">
              <div class="input-group-prepend">
              <span class="input-group-text">Education</span>
              </div>
            {% if user.institution=="not_specified" %}
            <textarea class="form-control" aria-label="With textarea" name="institution"  required></textarea>
            {% else %}
            <textarea class="form-control" aria-label="With textarea" name="institution"  required>{{ user.institution }}</textarea>
            {% endif %}
            </div>          


          </div>
          </div>
        </div>
        </li>
      </ul>
      </div>
      </form>
    </div>
  </div>






        <div class="container-fluid" id="codeEditor" style="display:none">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Problem</h6>
            </div>
            <div class="card-body text-gray-900" id="ques_div">



            </div>
          </div>
<div class="card shadow mb-4">
<div class="card-body">
<div class="container " style="width:700;height:502;background-color:white">
<div class="row border">
<div class="col  border border-dark bg-gradient-info" >
<div class="btn-group dropright float-left" style="width:200px">
<button class="btn btn-dark dropdown-toggle "   type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="float-left" id="selectedLanguage">C</span>
</button>
<div class="dropdown-menu"  >
<button class="dropdown-item" onclick="setLanguage('CPP')" >C++</button>
<button class="dropdown-item" onclick="setLanguage('C')">C</button>
</div>
</div>
<span class="float-right text-white" id="savedstatus"></span>
</div>
</div>
<div class="row  border " style="height:502px">
<div class="text-gray-600 border border-dark"  style="width:4%;height:100%;font-family:Monaco;font-size:20px" id="editorlineNo"></div>
<textarea  id="editor" onkeyup="getLineNumber(this)"  onmouseup="this.onkeyup();" style="width:96%;height:100%;background-color:#ededed;font-family:Monaco;font-size:20px" wrap="off" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" overflow="auto">
  

</textarea>
</div>
<div class="row  border border-dark bg-gradient-info" style="text-align:right">
<div class="col">
<button type="button" class="btn btn-dark" onclick="compileAndTest()">Compile&Test</button>&nbsp;&nbsp;
<button type="button" class="btn btn-dark " onclick="submit()">Submit</button>
</div>
</div>
</div>



             
            </div>
          </div>
        </div>

      <div class="container-fluid" id="output_div" style="display:none">

          <div class="card shadow mb-4" >
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Output</h6>
            </div>
            <div class="card-body text-gray-900" >
              <div class="container" id="spinner_output" style="display:none">
                <div class="row">
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <strong>testcase #1</strong>
                      <div class="spinner-border spinner-border-sm ml-auto text-success" role="status" aria-hidden="true"></div>
                    </div>
                    <div class="d-flex align-items-center">
                      <strong>testcase #2</strong>
                      <div class="spinner-border spinner-border-sm ml-auto text-success" role="status" aria-hidden="true"></div>
                    </div>
                    <div class="d-flex align-items-center">
                      <strong>testcase #3</strong>
                      <div class="spinner-border spinner-border-sm ml-auto text-success" role="status" aria-hidden="true"></div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <strong>testcase #4</strong>
                      <div class="spinner-border spinner-border-sm ml-auto text-success" role="status" aria-hidden="true"></div>
                    </div>
                    <div class="d-flex align-items-center">
                      <strong>testcase #5</strong>
                      <div class="spinner-border spinner-border-sm ml-auto text-success" role="status" aria-hidden="true"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body text-gray-900" >
              <div class="container" id="testcases_output" style="display:none">
                <div class="row">
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <strong>testcase #1</strong>
                      <i class="material-icons ml-auto " id="testcase1" aria-hidden="true">
                        
                      </i>
                    </div>
                    <div class="d-flex align-items-center">
                      <strong>testcase #2</strong>
                      <i class="material-icons ml-auto " id="testcase2" aria-hidden="true">
                        
                      </i>
                    </div>
                    <div class="d-flex align-items-center">
                      <strong>testcase #3</strong>
                      <i class="material-icons ml-auto " id="testcase3" aria-hidden="true">
                        
                      </i>
                    </div>
                  </div>
                  <div class="col">
                    <div class="d-flex align-items-center">
                      <strong>testcase #4</strong>
                      <i class="material-icons ml-auto " id="testcase4" aria-hidden="true">
                        
                      </i>
                    </div>
                    <div class="d-flex align-items-center">
                      <strong>testcase #5</strong>
                      <i class="material-icons ml-auto " id="testcase5" aria-hidden="true">
                        
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              
          </div>


<div class="container-fluid"  id="source_testcases_output_div" style="display:none">

          <div class="card shadow mb-4" >
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Output</h6>
            </div>
            <div class="card-body text-gray-900" id="source_testcases_output">

            </div>
          </div>
      </div>

<div class="container-fluid"  id="userprofile" style="display:none">
  <div class="card shadow mb-4" >
    <div class="card-body text-gray-900">
      <ul class="list-group">
        <li class="list-group-item bg-gradient-info text-gray-900">
          <div class="d-flex justify-content-start">
            <div class="p-2"><img  class="img-thumbnail img-responsive" id="userprofilepic" alt="Cinque Terre" width="150" height="150"></div>
            <div class="d-flex flex-column">
            <div class="p-2 "><h3 class="font-weight-bold text-gray-100" id="username"></h3></div>
            <div class="p-2 font-weight-bold text-gray-100 ">Education: <span class="text-gray-400" id="userinstitution"></span></div>
            <div class="p-2 font-weight-bold text-gray-100 ">Score: <span class="text-gray-400" id="userscore"></span></div>
            <div class="p-2 font-weight-bold text-gray-100 ">Question Solved: <span class="text-gray-400" id="usersolvedques"></span></div>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="card shadow mb-4" >
    <div class="card-body text-gray-900">
     <ul class="list-group">
      <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Your Performance</h6>
            </div>
        <li class="list-group-item list-group-item-dark text-gray-900">
            
              <h4 class="small font-weight-bold">Easy<span class="float-right" id="userqeasy"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" id="userqeasydiv"   aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            <h4 class="small font-weight-bold">Medium<span class="float-right" id="userqmedium"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" id="userqmediumdiv" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><h4 class="small font-weight-bold">Hard<span class="float-right" id="userqhard"></span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" id="userqharddiv" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>








      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; codenerds 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
</div>



  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/codenerdsJS.js') }}"></script>
  
  <!-- Page level plugins -->
  
</body>

</html>
